.banner {
  position: relative;
  height: 700px;
  object-fit: contain; /* It will keep the aspect ratio */
  color: white;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 300px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  max-width: 40rem;
  line-height: 1.3;
  padding-bottom: 1rem;
  font-weight: 500;
}

.banner__buttons {
  display: flex;
  gap: 1rem;
}

.banner__button {
  cursor: pointer;
  background-color: rgba(180, 180, 180, 0.6);
  font-size: 1rem;
  font-weight: 700;
  color: white;
  border: 0;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  transition: all 0.2s;
}

.play {
  background-color: white;
  color: black;
}

.banner--fadeTop {
  position: absolute;
  top: 0;
  height: 7.4rem;
  width: 100%;
  background-image: linear-gradient(
    0deg,
    transparent,
    rgba(0, 0, 0, 0.61),
    #000
  );
}

.banner--fadeBottom{
  position: absolute;
  bottom: 0;
  height: 7.4rem;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(0, 0, 0, 0.61),
    #000
  );
}

.banner__button:hover {
  background-color: rgba(180, 180, 180, 0.8);
}