/* Global CSS Styles */

body {
  overflow-x: hidden;
  background-color: black;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover {
  opacity: 0.8;
} 