.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  color: white;
  top: 0;
  right: 0;
  left: 0;

  transition-timing-function: ease-in;
  transition: all 0.2s;

  z-index: 1000;
}

.nav__black {
  background-color: black;
}

.nav__container {
  display: flex;
  align-items: center;
}

.nav__contents--list {
  display: flex;
  margin-left: 3rem;
  gap: 1rem;
}

.nav__actions--list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__actions--list-item {
  display: flex;
  align-items: center;
}

.nav__actions--list-item:hover {
  cursor: pointer;
}

.nav__actions--list-item img {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  border-radius: 5px;
}

.nav__logo:hover {
  cursor: pointer;
}